.artist-detail .artist {
  margin: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 30px #2A2F38;
  border-radius: 4px;
  box-sizing: border-box;
}

.artist-detail .artist .photo img {
  width: 256px;
}

.artist-detail .artist div.info {
    text-align: center;
    width: 100%;
}

.artist-detail .artist div.info h1 {
  font-size: 18px;
}

.artist-detail .albums {
  text-align: center;
}
