.breadcrumb {
  background: white;
  padding: 1em 2em;
  border-bottom: 3px solid #0EA59E;
}

.breadcrumb .playlist img {
  width: 128px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 5px;
}

.breadcrumb h1, .breadcrumb h2, .breadcrumb h3 {
  color: #423F67;
}

.breadcrumb a {
  color: inherit;
}

.breadcrumb .playlist .cover {
  display: inline-block;
}

.breadcrumb .playlist .info {
  display: inline-block;
  vertical-align: top;
}

.breadcrumb .playlist .info h1, .breadcrumb .playlist .info h2, .breadcrumb .playlist .info h3 {
  margin: 0 14px;
}

.breadcrumb .playlist .info span.subtitle {
  font-size: 14px;
  color: #444;
}

