.detail .album {
  margin: 2em;
}

.detail .album .main {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  box-sizing: border-box;
}

.detail .album .main .cover {
  flex: 1 0 0;
  text-align: right;
}

.detail .album .main .info {
  flex: 3 0 0;
}

.detail .album .main .cover img {
  width: 256px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: 1px solid #888;
}

.detail .album .info h1 {
  font-size: 24px;
}

.detail .album .artist {
  text-align: left;
}

.detail .album .artist h2 {
  text-align: left;
  color: #0EA59E;
  border-bottom: 1px solid #0EA59E;
  margin: 0 0 .5em;
}
