.detail .album {
  margin: 1em auto;
  padding-bottom: 4em;
  text-align: center;
}

.detail .album .main {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  box-sizing: border-box;
}

.detail .album .main .cover {
  flex: 1 0 0;
}

.detail .album .main .info {
  flex: 1 0 0;
}

.detail .album .main .cover img {
  width: 100%;
}

.detail .album .info h1 {
  font-size: 24px;
}

.detail .album .artist {
  text-align: left;
}

.detail .album .artist h2 {
  text-align: left;
  color: #CCC;
  border-bottom: 1px solid #CCC;
  margin: 0 0 .5em;
}

.detail .album .tracks {
  text-align: left;
}

.detail .album .tracks h2 {
  color: #CCC;
  border-bottom: 1px solid #CCC;
  margin: 1em 1em 0;
}

.detail .album .tracks a {
  color: #DDD;
}

.detail .album .tracks .track {
  padding: 1em;
}
