.detail .album {
  margin: 1em auto 0;
  padding-bottom: 4em;
  text-align: center;
}

.detail .album .main .cover {
  flex: 1 0 0;
}

.detail .album .main .info {
  text-align: center;
}

.detail .album .main .cover img {
  width: 270px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: 1px solid #888;
}

.detail .album .info h1 {
  font-size: 24px;
  color: white;
}

.detail .album .artist {
  text-align: left;
}

.detail .album .artist h2 {
  text-align: left;
  color: #CCC;
  border-bottom: 1px solid #CCC;
  margin: 0 0 .5em;
}

.detail .album .tracks {
  text-align: left;
  box-sizing: border-box;
}

.detail .album .tracks h2 {
  color: #CCC;
  border-bottom: 1px solid #CCC;
}

.detail .album .tracks a {
  color: #DDD;
}

.detail .album .tracks .track {
  padding: 1em;
  display: flex;
  color: white;
  padding: 2em 1em;
  box-sizing: border-box;
  transition: background-color .2s linear;
}

.detail .album .tracks .track:hover {
  background-color: rgba(0,0,0,.3);
  cursor: pointer;
}

.detail .album .tracks .track .number {
  font-weight: bold;
  text-align: right;
  padding-right: 1em;
  box-sizing: border-box;
  flex: 1;
}

.detail .album .tracks .track .name {
  flex: 20;
}

.detail .album .tracks .track .duration {
  flex: 1;
  text-align: right;
}
