.masonry-appear {
   opacity: 0.01;
}

.masonry-appear.masonry-appear-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}

.masonry {
  column-gap: 15px;
}

.masonry--playlists {
  column-count: 4;
}

.masonry--albums {
  column-count: 5;
}

.masonry--artists {
  column-count: 3;
}

.masonry__column {
  margin: 0;
  padding: 0;
  page-break-inside: avoid;
  break-inside: avoid;
  padding-top: 1em;
  padding-bottom: 8em;
}
