.Frontpage {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}

.Frontpage-appear {
   opacity: 0.01;
}

.Frontpage-appear.Frontpage-appear-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}
