.frontpage {
  width: 589px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	margin: 0 auto;
  padding-bottom: 4em;
}

.frontpage .column {
  display: flex;
  flex: 1;
  flex-direction: column;
}
