.artist-detail .albums .album {
  position:relative;
  display: inline-block;
  cursor: pointer;
  width: 128px;
  padding: 0;
  max-width: 128px;
  height: 274px;
  min-height: 274px;
  border: 8px solid transparent;
  border-radius: 5px;
}

.artist-detail .albums .album div.hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.05s ease 0s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.artist-detail .albums .album div.hover:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.artist-detail .albums .album div.hover:hover > img {
  opacity: 0.5;
}

.artist-detail .albums .album div.hover:hover > img:hover {
  opacity: 1;
}

.artist-detail .albums .album .hover > img {
    left: 50%;
    margin-left: -16px;
    margin-top: 54px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease-in-out 0s;
}

.artist-detail .albums .album a {
  text-decoration: none;
  color: #A7AAAD;
  font-size: .8em;
}

.artist-detail .albums .album img.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 128px;
  height: 128px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.artist-detail .albums .album .info {
  position:absolute;
  top: 128px;
  height: 130px;
  padding: 5px;
  width: 118px;
  background: #2A2F38;
}

.artist-detail .albums .album .footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 128px;
  background: #38404C;
  margin: 0;
  color: #A7AAAD;
  padding: 5px 5px;
  height: 28px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
