.topmenu__alphabeticalchooser__item {
  font-size: 1.4rem;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  color: #DDD;
}

.topmenu__alphabeticalchooser__item:hover {
  color: yellow;
}
