.frontpage  ul.menulist {
  text-align: left;
  width: 100%;
  background-color: #DC7563;
  font-size: 14px;
  font-weight: bold;
  color: #EEE;
  margin: 0;
  padding: 0;
}

.frontpage ul.menulist li {
  list-style: none;
  display: inline-block;
  padding: 6px 1em;
  border-right: 1px solid white;
}

.frontpage ul.menulist li a {
  color: #DDD;
}

.frontpage ul.menulist li.active a {
  color: white;
}

.frontpage ul.menulist li.active {
  background: #ce442f;
}

.frontpage ul.menulist li a:hover {
  color: white;
}
