.TopMenu  ul.menulist {
  text-align: left;
  width: 100%;
  background-color: #DC7563;
  font-size: 14px;
  font-weight: bold;
  color: #EEE;
  margin: 0;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.TopMenu ul.menulist li {
  list-style: none;
  display: inline-block;
  padding: 6px 1em;
}

.TopMenu ul.menulist li a {
  color: #DDD;
}

.TopMenu ul.menulist li a:hover {
  color: yellow;
}

.TopMenu ul.menulist li.active a {
  color: white;
}

.TopMenu ul.menulist li.active {
  background: #ce442f;
  transition: background 0.5s;
}

.TopMenu ul.menulist li.active.first {
  border-top-left-radius: 5px;
}
