.Footer {
  position: absolute;
  color: white;
  font-weight: bold;
  clear: both;
  bottom: 0;
  width: 588px;
  height: 40px;
  line-height: 40px;
  padding: 0 1em;
  box-sizing: border-box;
  text-align: right;
}
