.topmenu__orderlist {
  background-color: #ce442f;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  color: #EEE;
  margin: 0;
  padding: 0;
  display: flex;
}

.topmenu__orderlist--borderdown {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.topmenu__line {
  background-color: #ce442f;
  padding: .6rem .1rem;
}

.topmenu__orderlist__item {
  text-align: center;
  list-style: none;
  display: inline-block;
  padding: 6px 1em;
  cursor: pointer;
  color: #DDD;
}

.topmenu__orderlist__item--active {
  background: #ba3827;
  transition: background 0.5s;
}

.topmenu__orderlist__item--last {
  border-bottom-right-radius: 5px;
}

.topmenu__orderlist__item--first {
  border-bottom-left-radius: 5px;
}

.topmenu__orderlist__item:hover {
  color: yellow;
}
