.TopMenu .orderlist {
  background-color: #ce442f;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  color: #EEE;
  margin: 0;
  padding: 0 0 0 1em;
  display: flex;
  text-align: right;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.TopMenu .orderlist .selectorlist {
  text-align: right;
  margin: 0;
  padding: 0;
  flex: 1;
}

.TopMenu .orderlist .selectorlist li {
  text-align: right;
  list-style: none;
  display: inline-block;
  padding: 6px 1em;
  cursor: pointer;
}

.TopMenu .orderlist .selectorlist li {
  color: #DDD;
}

.TopMenu .orderlist .selectorlist li.active {
  background: #ba3827;
  transition: background 0.5s;
}

.TopMenu .orderlist .selectorlist li.active.last {
  border-bottom-right-radius: 5px;
}

.TopMenu .orderlist .selectorlist li:hover {
  color: yellow;
}
