.frontpage .item {
  position:relative;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.frontpage.artists .item {
  width: 196px;
}

.frontpage.albums .item,
.frontpage.playlists .item {
  width: 147px;
}

.frontpage .item div.hover {
  transition: background-color 0.05s ease 0s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.frontpage .item div.hover:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.frontpage.playlists .item div.hover:hover > img,
.frontpage.albums .item div.hover:hover > img {
  opacity: 0.5;
}

.frontpage .item:hover {
  box-shadow: 0 .5em 1em rgba(0,0,0,0.25);
  z-index: 1000;
}

.frontpage.albums .item div.hover:hover > img:hover,
.frontpage.playlists .item div.hover:hover > img:hover {
  opacity: 1;
}

.frontpage .item .hover > img {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -24px;
  margin-bottom: -24px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
}

.frontpage .item a {
  text-decoration: none;
  color: #A7AAAD;
  font-size: .8em;
}

.frontpage .item img.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.frontpage .item .info {
  position:absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
  background: #2A2F38;
  color: #EEE;
  font-size: 14px;
  box-sizing: border-box;
  z-index: 100;
  display: none;
}

.frontpage .item:hover .info {
  display: inline;
  box-shadow: 0 .5em 1em rgba(0,0,0,0.5);
}

.frontpage .item .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  color: #38404C;
  background: #FAFAFA;
  height: 32px;
  text-align: left;
  display: none;
}

.frontpage .item .footer img {
  margin: 5px;
  float: right;
}
