.Frontpage .Item {
  break-inside: avoid;
  position: relative;
  list-style: none;
  display: flex;
  flex: 0 0 auto;
  cursor: pointer;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  opacity: .9;
  width: 100%;
}

.Frontpage .Item:hover {
  opacity: 1;
}

.Frontpage .Item a {
  text-decoration: none;
  color: #A7AAAD;
  font-size: .8em;
}

.Frontpage .Item .Info {
  position:absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  height: 80px;
  padding: 10px;
  background: #2A2F38;
  color: #EEE;
  font-size: 14px;
  box-sizing: border-box;
  z-index: 100;
  display: none;
}

.Frontpage .Item:hover .Info {
  display: inline;
  box-shadow: 0 .5em 1em rgba(0,0,0,0.5);
}
