div.header .top {
  text-align: left;
  margin: 0;
  padding: .5em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
}

div.header .logo {
  flex: 2 0 0;
}

div.header .Search {
  flex: 2 0 0;
  width: 100%;
}
