html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

body {
  background-color: #396A92;
  height: 100%;
}

div#root {
  background: linear-gradient(rgba(0,0,0,.3), #141414);
  background-repeat: no-repeat;
  padding: 0 2em;
  min-height: 100%;
}

a {
  text-decoration: none;
}
