html, body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100%;
  min-width: 556px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-repeat: no-repeat;
}

body {
  padding: 2em;
  min-height: 100%;
}

div#root {
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 1em;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #9F2461;
}
