html {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 588px;
  height: 100%;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  height: 100%;
  margin: 0;
}

div#root {
  background: #74675A;
  min-height: 100%;
  box-shadow: 0 0 10px #74675A;
  position: relative;
}

div.layout {
  min-height: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #9F2461;
}
