.topmenu {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 5px;
  margin-bottom: 2em;
  opacity: .9;
  transition: all 250ms ease;
}

.topmenu:hover {
  opacity: 1;
}
