.logo {
  margin: 0;
  white-space: nowrap;
}

.logo__title {
  display: inline-block;
  color:  white;
}

.logo__image {
  width: 1.5em;
  margin-right: .5em;
}

.logo__title a:hover {
  color: #CCC;
}

.logo:hover .logo__image {
  animation-name: logo;
  animation-duration: 15s;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
