div.logo {
  font-family: Nunito;
  color: white;
  margin: 0;
  display: flex;
}

div.logo a.image img {
  width: 40px;
}

div.logo h1 {
  margin: 6px 8px;
  font-size: 24px;
  color:  white;
}

div.logo h1 a:hover {
  color: #CCC;
}
