div.Header div.Logo {
  margin: 0;
  white-space: nowrap;
}

div.Header div.Logo h1 {
  display: inline-block;
  color:  white;
}

div.Header div.Logo a.Image img {
  width: 1.5em;
  margin-right: .5em;
}

div.Header div.Logo h1 a:hover {
  color: #CCC;
}
